#progressbar{
  width: 440;
}

#container{
  width:440;
  margin:0px auto;
  background-color:white;
  padding:10px;
  opacity:1.0;
  border: 10px solid yellow;
  padding-bottom:25px;
}

.button{
  background-color:yellow;
  text-decoration:none;
  float:left;
}

#me, #me a{
 color:yellow;
 text-decoration:none;
 float:right;
}

#info{
  padding-top:50px;
  color:gray;
  width:440;
  margin:0px auto;

}

.ui-widget-header{
    background: yellow;
    border:none;
}

.ui-widget-content{
    border: none;
    background: none;
}

#submit{
float:right;
}

#startCam{
  float:left;
}
