#progressbar{
  width: 440;
}

#container{
  width:440;
  margin:0px auto;
  background-color:white;
  padding:10px;
  opacity:1.0;
  border: 10px solid yellow;
}

.button{
  background-color:yellow;
  text-decoration:none;
}

#me, #me a{
 color:yellow;
 text-decoration:none;
 float:right;
}

#info{
  bottom:10px;
  position: absolute;
  color:gray;
}

.ui-widget-header{
    background: yellow;
    border:none;
}

.ui-widget-content{
    border: none;
    background: none;
}
